﻿<div>
    <div class="responds">
        <div class="respond">
            <div class="name"><h2>Иван Пупкин</h2></div>
            <div class="time"><p>13:33</p></div>
            <div class="text">
                <p>Очень круто!!!!</p>
            </div>
        </div>
        <div class="respond">
            <div class="name"><h2>Неиван Непупкин</h2></div>
            <div class="time"><p>12:33</p></div>
            <div class="text">
                <p>Очень не круто!!!!</p>
            </div>
        </div>
    </div>
    <div class="new-respond">
        @using (Html.BeginForm("Guest", "Home", FormMethod.Post))
        {
            <p>
                @Html.Label("Name", "Имя")<br />
                @Html.TextBox("Name")
            </p>
            <p>
                @Html.Label("Text", "Отзыв")<br />
                @Html.TextArea("Text", "", new { type = "number" })
            </p>
            <p>
                <input type="submit" value="Отправить" />
            </p>
        }
    </div>
</div>