﻿<div>
    <div class="news">
        <div class="name"><h2>В Индонезии пропала подводная лодка с 53 моряками – власти просят помощи у соседних стран</h2></div>
        <div class="time"><p>13:33</p></div>
        <div class="text">
            <p>Военно-морские силы Индонезии заявили, что с радаров пропала подлодка KRI Nanggala-402. Власти страны просят помощи в поисках у соседних Австралии и Сингапура. Об этом пишет Reuters.</p>
            <p>Отмечается, что субмарина проводила торпедные испытания к северу от острова Бали после чего пропала с радаров.</p>
            <p>BBC отмечает, что район вероятного местонахождения субмарины довольно глубокий. Кроме того, сообщается, что контакт с субмариной был утерян после того, как ей было разрешено погружаться на глубину.</p>
        </div>
    </div>
    <div class="news">
        <div class="name"><h2>Герои рядом. В Индии железнодорожник спас ребенка из-под колес поезда</h2></div>
        <div class="time"><p>Вчера в 14:02</p></div>
        <div class="text">
            <p>В Мумбаи один из работников железной дороги спас жизнь ребенка, рискуя своей собственной. Когда ребенок упал с платформы на рельсы, мужчина бросился к нему и вытащил обратно на платформу. Видео выложил в Facebook министр путей сообщения Гоял Пиюш.</p>
            <p>"Очень горжусь Мейюром Шельке, железнодорожником со станции Вангани в Мумбаи, совершившим исключительно смелый поступок – он рисковал собственной жизнью и спас другую жизнь", – написал Пиюш.</p>
            <p>Чиновник подчеркнул, что вся "железнодорожная семья" гордится им, и что "его поступок нельзя сравнить ни с какой наградой или деньгами, но за исполнение своего долга ему воздастся".</p>
        </div>
    </div>
</div>