﻿html{
    padding: 0px;
    margin: 0px;    
    font-family:   Arial, sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left:0;
    z-index: 99;
    width: 100%;
}
.navbar .logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 6%;
    margin-left: 2px;
    font-size: 0.6em;
    color: ivory;
}
.navbar .logo img {
    width: 30px;
    height: 25px;
    margin-left: 10px;
    margin-top: 5px;
}
.navbar .link {
    float: left;
    display: block;
    text-align: center;
    margin-top: 1em;
    margin-left: 30px;
}
.navbar .link a{
    text-decoration:none;
    color: wheat;
}
.body-content {
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
}
.news, .respond {
    margin: 30px 0;
    animation-duration: 0.5s;
}
.news:hover {
    background-color: aliceblue;
}
.respond:hover {
    background-color: aliceblue;
}
.time p {
    color: lightblue;
}
footer {
    padding: 0px;
    margin: 0px;
    height: 100px;
}

